body {
    background-color: lightgray;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr, td {
    border: 1px solid orange;
    padding: 8px;
}

td {
    text-align: center;
}

.header {
    text-align: center;
    color: orange;
    background-color: blue;
    font-size: 30px;
    margin: auto;
    width: 35%;
    border: 4px solid lightpink;
    padding: 5px;
}

.file-selection {
    background-color: aqua;
}

.file-selection a {
    color: orange;
}

.editor-table {
    background-color: aqua;
}

.editor-table td {
    color: red;
}

.editor-table input {
    color: red;
}

.editor-table button {
    background-color: lightpink;
    color: green;
    border-color: lightpink;
}

.file-creator {
    text-align: center;
}

.file-creator input {
    font-size: 30px;
}

.file-creator button {
    font-size: 30px;
}

p {
    text-align: center;
}