<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select a file</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div class="header">
    <h1>Select a file</h1>
  </div>
  <a href="/">Home page</a>
  <table class="file-selection">
    {% for i in range(0, files|length, 3) %}
    <tr>
      {% for j in range(i, i + 3) %}
        <td>
          {% if j < files|length %}
            <a href="/file_edit/{{ files[j] }}">{{ files[j] }}</a>
          {% else %}
            <!-- Keeps cell empty if there is nothing to put into. -->
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tfoot>
      <tr>
        <td colspan="3">
          <a href="/file_create">Create a new file</a>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>