<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select a file</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="header">
    <h1>Take your guess</h1>
  </div>
  <form method="POST" action="/submit/guess">
    <input type="hidden" name="info" value="{{ info }}">
    <input type="hidden" name="cor_def" value="{{ definition }}">
    <table>
      <tr>
        <td>
          Term:
        </td>
        <td>
          {{ term }}
        </td>
      </tr>
      <tr>
        <td>
          Definition
        </td>
        <td>
          <input type="text" name="definition" id="definition" placeholder="Enter a definition here">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Submit</button>
        </td>
      </tr>
      <tr>
        <td>
          Correct:
        </td>
        <td>
          {{ correct }}
        </td>
      </tr>
      <tr>
        <td>
          Incorrect:
        </td>
        <td>
          {{ incorrect }}
        </td>
      </tr>
    </table>
  </form>
</body>
</html>