<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select a file</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="header">
    <h1>Take your guess</h1>
  </div>
  <form>
    <table>
      <tr>
        <td>
          Term:
        </td>
        <td>
          Term to guess here
        </td>
      </tr>
      <tr>
        <td>
          Definition
        </td>
        <td>
          Input field here
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>